<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Logger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(0, 102, 204); /* Dark background color */
            color: #ffffff; /* White text color */
        }
        .navbar {
            background-color: #222222; /* Dark navbar background color */
        }
        .navbar-custom { /* Custom navbar color */
            background-color: #222222; /* Custom color (navy blue) */
        }
        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff; /* White link text color */
        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #cccccc; /* Lighter color on hover */
        }
        .navbar-dark .navbar-text {
            color: #ffffff; /* White text color */
        }
        .btn-outline-light {
            color: #ffffff; /* White button text color */
            border-color: #ffffff; /* White border color */
        }
        .btn-outline-light:hover {
            color: #222222; /* Dark text color on hover */
            background-color: #ffffff; /* White background color on hover */
        }
        /* Override container background color */
        .container {
            background-color: #0066cc; /* Dark container background color */
            color: #ffffff; /* White text color */
        }
        .container{
            background-color: #0066cc; /* Dark container background color */
            color: #ffffff; /* White text color */
        }
        .card {
            background-color: #222222; /* Dark container background color */
            color: #ffffff; /* White text color */
        }
        .table {
            color: #ffffff; /* White text color */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/">Temperature Logger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <!-- Add link to graph page in the navbar -->
            <li class="nav-item">
                <a class="nav-link" href="/graph">Graph</a>
            </li>
        </ul>
        {% if 'username' in session %}
            <span class="navbar-text mr-2">Logged in as: {{ session['username'] }}</span>
            <form class="form-inline" action="/logout" method="post">
                <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
        {% elif request.path == '/login' %}
            <a class="btn btn-outline-light mr-2" href="/register">Register</a>
        {% elif request.path == '/register' %}
            <a class="btn btn-outline-light mr-2" href="/login">Login</a>
        {% endif %}
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

</body>
</html>
