{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Temperature Graph</h2>
        <form id="graph-form" method="POST">
            <div class="form-group">
                <label for="num_values">Number of Values:</label>
                <input type="number" class="form-control" id="num_values" name="num_values" min="1" value="10">
            </div>
            <button type="submit" class="btn btn-primary">Update Graph</button>
        </form>
        <canvas id="temperatureGraph" width="400" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('temperatureGraph').getContext('2d');
    let graphTimestamps = {{ timestamps | tojson }};
    let graphValues = {{ values | tojson }};

    // Reverse the order of timestamps and values
    graphTimestamps = graphTimestamps.reverse();
    graphValues = graphValues.reverse();

    const temperatureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphTimestamps,
            datasets: [{
                label: 'Temperature',
                data: graphValues,
                borderColor: 'rgba(255, 255, 255, 1)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'minute'
                    },
                    title: {
                        display: true,
                        text: 'Timestamp'
                    }
                }],
                yAxes: [{
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Temperature (°C)'
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
