<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Temperature Logger</h5>
        <button id="add-temp-btn" class="btn btn-primary">Add Temperature</button>
        <button id="show-temp-btn" class="btn btn-primary">Show Temperatures</button>
        <button id="delete-temp-btn" class="btn btn-primary">Delete Oldest Temperatures</button>
    </div>
</div>

<div class="card mt-4" id="temperature-table" style="display: none;">
    <div class="card-body">
        <h5 class="card-title">Recent Temperatures</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Temperature</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody id="temperature-body">
                    <!-- Temperatures will be displayed here -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-temp-btn').addEventListener('click', function() {
        fetch('/api/add_temperature', {
            method: 'POST'
        })
        .then(response => {
            if (response.ok) {
                alert('Temperature added successfully');
            } else {
                alert('Failed to add temperature');
            }
        });
    });

    document.getElementById('show-temp-btn').addEventListener('click', function() {
        const numValues = prompt('Enter number of values to show:');
        fetch('/api/show_temperatures', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ num_values: numValues })
        })
        .then(response => response.json())
        .then(data => {
            const temperatureBody = document.getElementById('temperature-body');
            temperatureBody.innerHTML = '';
            data.temperatures.forEach(temp => {
                const row = `<tr><td>${temp[0]}</td><td>${temp[1]}</td></tr>`;
                temperatureBody.insertAdjacentHTML('beforeend', row);
            });
            document.getElementById('temperature-table').style.display = 'block';
        });
    });

    document.getElementById('delete-temp-btn').addEventListener('click', function() {
        const numValues = prompt('Enter number of values to delete:');
        fetch('/api/delete_temperatures', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ num_values: numValues })
        })
        .then(response => {
            if (response.ok) {
                alert('Temperatures deleted successfully');
            } else {
                alert('Failed to delete temperatures');
            }
        });
    });
</script>
{% endblock %}
