{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                <form id="register-form" method="POST" action="/register">
                    <img src="{{ url_for('static', filename='pictures/heat2.svg') }}" class="card-img-top" alt="Your Image" width="400"/>
                    <h3>Register</h3>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div id="register-error" class="alert alert-danger" role="alert" style="display: none;"></div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    document.getElementById('register-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('register-form'));

    fetch('/register', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok) {
            window.location.href = '/login';
        } else {
            document.getElementById('register-error').innerText = 'Error registering. Please try again.';
            document.getElementById('register-error').style.display = 'block';
        }
    });
});
</script>
{% endblock %}
